/******************************************************************
Site Name: Brian Collins Music
Author: Patrick Hoydar

Stylesheet: Admin Stylesheet

If you like living on the edge, you can add some styles here to
customize the dashboard and WordPress admin area. This stylesheet
is empty, but you can just start dropping your styles here to
start customizing. All admin functions are located in lib/admin/

******************************************************************/
#order_data .brigade-details-header {
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 10px;
}

.brigade-bash-admin-details {
	background: #ececec;
	padding: 5px 15px;
	width: 100%;
	box-sizing: border-box;

	table {
		width: 100%;

		thead {
			font-size: 15px;
			padding: 10px 5px;
		}

		th {
			text-align: left;
		}
	}
}